!!!
%html
  %head
    %title= title
    %link{ :rel => 'stylesheet', :media => 'all', :type => 'text/css', :href => '/css/style' }
  %body
    #wrapper
      #title
        %h1= title
      #content
        = content
    #footer
