!!!
%html
  %head
    %title= @title
    %link{ :rel => 'stylesheet', :media => 'all', :type => 'text/css', :href => 'css/style' }
  %body
    #wrapper
      #title
        %h1= 'Amino acid biosyntheic cost in protein sequence evolution'
      #content
        = @content
    #footer
